<section style="padding-top: 200px; padding-bottom: 200px; display:flex; align-items: center; justify-content: center; background-color: black;">
    <div class="box">
        <h3>Login to use RezuMe</h3>
        <form action="admin/adminlog" method="post">
            <label>Name</label><br>
            <input type="text" name="name" placeholder="Email"><br>
            <label>Password</label><br>
            <input type="password" name="Password" placeholder="Password"><br>
            <input type="submit" value="SUBMIT"><br><br>
        </form>
    </div>
</section>