<section class="about">
    <div class="box_1">
        <h2>About RezuMe</h2>
        <p>Welcome to RezuMe, your go-to platform for creating personalized resumes with ease. Whether you're a job
            seeker looking to craft the perfect CV or a professional wanting to update your profile, RezuMe has got you
            covered.</p>
        <h2>Our Mission</h2>
        <p>At RezuMe, our mission is to simplify the resume-building process and empower individuals to present
            themselves effectively in the competitive job market. We understand the importance of a well-designed resume
            in making a lasting impression on potential employers, and that's why we've developed this intuitive tool to
            streamline the process.</p>

        <h2>Why Choose RezuMe?</h2>
            <li style="padding-top: 30px;">User-Friendly Interface: Our platform is designed with simplicity in mind, making it easy for anyone to
                create professional resumes quickly.</li>
            <li style="padding-top: 30px;">Customization Options: Tailor your resume to your unique skills, experiences, and preferences with our
                customizable templates and features.</li>
            <li style="padding-top: 30px;">Accessibility: RezuMe is accessible anytime, anywhere, allowing you to work on your resume whenever
                inspiration strikes.</li>
    </div>
</section>