<section>
    {{#if error}}
    <script>
        alert("Invalid credentials");
    </script>
    {{/if}}
    <div class="container-fluid main">
        <div class="row">
            <div class="imagep col-12 col-md-6">
                <img src="{{img}}" height="70%">
            </div>
            <div class="loginp col-12 col-md-6">

                <div class="box">
                    <h3>Login to use RezuMe</h3>
                    <form action="index" method="post">
                        <label>Email</label><br>
                        <input type="email" name="Mail" placeholder="Email"><br>
                        <label>Password</label><br>
                        <input type="password" name="Password" placeholder="Password"><br>
                        <input type="submit" value="SUBMIT"><br><br>
                        Create new account <a href="/signup">Click here</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>