<section style="background-color: black; padding
150px; height: 110vh;padding-top: 100px; padding-bottom: 200px;">
    <div class="container">
        <div class="loginp">
            <div class="box">
                <h3>Create account to use RezuMe.</h3>
                <form action="signup/signup" method="post">
                    <label>Name</label><br>
                    <input type="text" name="Name" placeholder="Username"><br>
                    <label>Mail ID</label><br>
                    <input type="email" name="Mail" placeholder="Email"><br>
                    <label>Password</label><br>
                    <input type="password" name="Password" placeholder="Password"><br>
                    <input type="submit" value="SUBMIT"><br><br>
                    Already an user<a href="/">Click here</a>
                </form>
            </div>
        </div>
    </div>
</section>